#scale-box {
    /* previous styles */
    position: absolute;
    top: 60%;
    left: 12%;
    width: 35%;
    height: 45%;
    transform: translate(0%, -50%);
    background-color: #f2f2f2; /* add a background color */
    border-radius: 10px; /* add rounded corners */
    box-shadow: 2px 2px 5px #ccc; /* add a subtle shadow */
    padding: 1px; /* add some padding to the contents */
    border-top: 10px solid gray; /* add a border */
    border-bottom: 10px solid gray;
    margin: 50px auto; /* center the box horizontally */
    text-align: center; /* center the contents horizontally */
}

#scale-box input {
    /* styles for the input elements */

    font-size: 18px; /* increase font size */
    padding: 10px; /* add more padding */
    margin-bottom: 10px; /* add space between inputs */
    border: none; /* remove the default border */
    border-bottom: 2px solid #333; /* add a custom border */
    background-color: transparent; /* remove the default background */
}

#key-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    margin-top:0px;
    margin-bottom:10px;
}

.button-container {
    display: flex;
    margin: 10px;

}


.submitbutton{
    /* styles for the submit button */
    background-color: #4CAF50; /* change the background color */
    color: white; /* change the text color */
    padding: 12px 20px; /* adjust the padding */
    border: none; /* remove the default border */
    border-radius: 10px; /* add rounded corners */
    cursor: pointer; /* change the cursor on hover */
    margin-left: 10px;
}

.playbutton{
    /* styles for the submit button */
    background-color: #146201; /* change the background color */
    color: white; /* change the text color */
    padding: 10px 15px; /* adjust the padding */
    border: none; /* remove the default border */
    border-radius: 10px; /* add rounded corners */
    cursor: pointer; /* change the cursor on hover */
    margin-left: 10px;
    font-size: 12px;

}

#scale_in_key {
    /* styles for the scale display */
    margin-top: 80px; /* add space above the scale */
    color: #333; /* change the text color */
    font: 2vw 'Times New Roman', Times, serif;
}

#mode_in_key {
    /* styles for the scale display */
    position: absolute;
    margin-top: 80px; /* add space above the scale */
    margin-left: 20px;
    color: #333; /* change the text color */
    font: 1vw 'Times New Roman', Times, serif;
    text-align: left;
    left: 50%;
    transform: translate(-50%, -50%);
}

.key-button{
    position: absolute;
    margin-top: 5px;
    display: flex;
    left:50%;
    transform: translate(-50%, 0%);


}