:root {
  --base-color: #d4dae0;

}
* {
  box-sizing: border-box;
}
.layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1500px;
}
.layout-center{
  width: 100%;
  max-width: 1100px;
  padding: 30px 20px 40px;
}
#box-practice{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
}
.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #e3e7eb;
  box-shadow: 1px 2px 8px rgb(138 154 171 / 10%), 2px 4px 28px rgb(182 193 203 / 10%);
  background: #fff;
}
.box-header{
  transition: background-color .3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px 4px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f8f9fa;
}
.header-title {
  transition: color .3s ease;
  display: flex;
  align-items: center;
  height: 38px;
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #7b8ea0;
}
.box-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 0;
}
.box-body{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
}
.picker {
  display: flex;
  flex: 1 1;
}
#practice-type {
  transition: border-color .2s ease,box-shadow .2s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 8px 0 8px 12px;
  border-radius: 4px;
  border: 1px solid #f2f4f5;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #1fc7b6;
  flex: 1 1;
  max-width: 200px;
}

.button-group {
  display: flex;
  flex-direction: row;
}
button {
  user-select: none;
  transition: background .2s ease,color .2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 38px;
  border-radius: 4px;
  border: 0;
  background: transparent;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #7b8ea0;
}
button:hover{
  background-color: #f3f3f3;
  color: #66717e;
}
.icon-practice{
  padding: 5px;
  width: 40px;
  height: 40px;
}